<nav class="nav-bar"> 
    <div class="container">
        <div class="nav-content">
            <div class="logo">
                <h2><span>social</span>Media</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/users/signup">Signup</a></li>
                    <li><a href="/users/signin">Login</a></li>
                </ul>
            </div>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</nav>

<main>
    <div class="container">
        <div class="recent-activity">
            <h3>Recent Activity</h3>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <div class="card-head">
                        <div class="name">
                            <h5 class="card-header">Raju</h5>
                        </div>
                        <div class="photo">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-head">
                        <div class="name">
                            <h5 class="card-header">Raju</h5>
                        </div>
                        <div class="photo">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>